# ==================================
# REAL-TIME CODING BATTLE PLATFORM
# ==================================


# ── CORE APP ──
NODE_ENV=development
BACKEND_PORT=5000
FRONTEND_URL=http://localhost:5173
VITE_BACKEND_URL=http://localhost:5000
SOCKET_PORT=5001
VITE_SOCKET_URL=http://localhost:5001

# ── DATABASE & CACHE ──
MONGO_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/coduelo?retryWrites=true&w=majority"
REDIS_URL="rediss://default:<your_upstash_token>@<your_upstash_url>:6379"

# Upstash REST 
UPSTASH_REDIS_REST_URL="https://<your_upstash_url>.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your_upstash_rest_token"

# ── SECURITY & AUTH ──
JWT_SECRET=your_jwt_access_secret_key_here
JWT_ACCESS_EXPIRY=7d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
JWT_REFRESH_EXPIRY=30d
CHAT_ENCRYPTION_SECRET=your_chat_encryption_secret_here

# ── EMAIL PROVIDER (Brevo) ──
BREVO_SENDER_EMAIL=your_email@domain.com
BREVO_API_KEY=your_brevo_api_key_here

# ── COMPILER & EXTERNAL SERVICES ──
JUDGE0_API_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY=your_judge0_api_key_here
JUDGE0_BATCH_SIZE=20

# ── TESTCASE STORAGE ──
TESTCASE_SOURCE=local  #(local / b2)
TESTCASE_LOCAL_PATH=./tests
TC_SUBMIT_LIMIT=500

B2_ACCOUNT_ID=your_b2_account_id_here
B2_APPLICATION_KEY="your_b2_application_key_here"
B2_BUCKET_NAME=your_b2_bucket_name_here
B2_ENDPOINT=s3.us-east-005.backblazeb2.com
B2_REGION=us-east-005

# Matchmaking Problem Sample Size
PROBLEM_SAMPLE_SIZE=49